<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.programacionmaster.mercadolibreapijava">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Declare the MercadoLibreActivity as required by the SDK -->
        <activity
            android:name="com.mercadolibre.android.sdk.MercadoLibreActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- Declare the ApplicationID attribute as required by the SDK -->
        <meta-data
            android:name="com.mercadolibre.android.sdk.ApplicationId"
            android:value="@string/meli_app_id" />

        <!-- Declare the Redirect URI attribute as required by the SDK -->
        <meta-data
            android:name="com.mercadolibre.android.sdk.RedirectUrl"
            android:value="@string/meli_redirect_uri" />

        <activity
            android:name=".QueriesWithAuthActivity"
            android:label="@string/title_activity_queries_with_auth"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".QueriesWithoutAuthActivity"
            android:label="@string/title_activity_queries_without_auth"
            android:theme="@style/AppTheme.NoActionBar" />
    </application>

</manifest>